@import "mixins";
$container: 1184;

$fontFamily: "Inter", "Poppins";

:root {
  font-size: calc(
    0.65px + (1 - 0.65) * ((100vw - 320px) / (1440 - 320))
  ) !important;

  @media (min-width: 1440px) {
    font-size: 1px !important;
  }
}

@for $i from 1 through 15 {
  .line-clamp-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@for $k from 5 through 9 {
  .font-#{$k}00 {
    font-weight: #{$k}00 !important;
  }
}

html,
body {
  height: 100%;
  font-family: $fontFamily, sans-serif !important;
  font-style: normal;
  font-size: 16px;
 
}
.dark body{
  background-color: #2B2F3A;
}

*{
  box-sizing: border-box;
}

.container {
  inset: 0;
  margin: 0 auto;
  max-width: $container + px !important;

  @media (max-width: 1210px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 1024px) {
    max-width: 1024px !important;
  }

  @media (max-width: 768px) {
    max-width: 768px !important;
  }

  @media (max-width: 640px) {
    max-width: 100% !important;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.transition {
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
  }
}
